* {
    margin: 0px;
    padding: 0px;
}
body {
    text-align: center;
    font-size: 13px;
}
h1 {
    font-size: 22px;
}
input {
    padding: 2px 3px;
    width: 100px;
    border: 1px solid #ccc;
    margin: 5px;
}
.input-send{
    padding: 2px 3px;
    width: 792px;
    display: inline-block;
    border: 1px solid #e6e6e6;
    height: 50px;
}
a {
    color: #00f;
}
.btn {
    height: 22px;
    line-height: 22px;
    padding: 1px 10px;
    background-color: #2C97E8;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    transition: opacity 0.8s;
}
.btn:hover {
    opacity: 0.6;
}
.btn:active {
    opacity: 1;
}
.strong {
    color: #f00;
}
.item {
    margin: 10px 0px;
}
.item p {
    margin: 5px;
}
/*.input-send {*/
/*width: 350px;*/
/*}*/
.change-cid {
    margin: 20px auto;
    border: 1px solid #ae0000;
    max-width: 512px;
    width: 88%;
    padding: 10px;
}
.change-cid input {
    width: 200px;
}
.print-wall {
    overflow: auto;
    /*margin: 20px auto;*/
    padding: 20px;
    border: 1px solid #e6e6e6;
    height: 400px;
    /*max-width: 800px;*/
    /*width: 84%;*/
    text-align: left;
}
.print-wall p {
    margin: 10px 0px;
    word-wrap: break-word;
}
.list li a{height: 25px;
    line-height: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    width: 253px;
    text-align: left;
}

.chat-list-li{
    width:298px;
    height: 25px;
    border: 1px solid #e6e6e6;
    border-bottom: none;
    padding: 3px 10px;
    list-style:none;
}
.chat-list-li.active{
    background: #FFF2ED;
}
.chat-list-li:hover{
    background: #FFF2ED;
}
.chat-list-li a{float: left;color: #888;text-decoration: none;}
.chat-list-li:last-child{
    border-bottom: 1px solid #e6e6e6;
}
.list-wrap{
    width: 320px;
    float: left;
    margin-left: 5px;margin-right: 5px;
}
#window-main{
    width: 800px;
    float: left;
}
.hongdian{
    display: none;
    font-size: 12px;
    font-family: 微软雅黑;
    width: 32px;
    height: 18px;
    /*display: inline;*/
    float: right;
    text-align: center;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    line-height: 20px;
    margin-top: 3px;
    background: rgb(239, 87, 84);
    border-radius: 10px;
}
.send-btn{float: right;margin-top: 10px;background-image:initial;}
.btn1{width:50px;height: 30px;line-height: 30px;background-image:initial;
    border: none;text-align: center;border-radius: 5px;margin-top: 20px;}
ul{margin:0px;padding:0px;}
.file-wrap {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
    margin-top: 6px;
}
.file-wrap input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file-wrap:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}